
extends layout.pug

block content
  body
    .modal-dialog
        .modal-content
          // Modal Header
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") ×
              span.sr-only Close
            h4#myModalLabel.modal-title
              | Note ton restaurant
          // Modal Body
          .modal-body
            form(role='form' method='GET' action='/score')
                input#name.form-control(type='text', placeholder='indique ton restaurant' name='name')
                input#name.form-control(type='number', placeholder='indique ton score pour ce restaurant' name='score')
                input#name.form-control(type='grade', placeholder='indique ton grade A,B,C' name='grade')
                button.btn.btn-primary(type="submit") Recherche
            
            if error 
              p #{error}
            if submit 
              p #{submit}